<% content_for :title do %>
    <%= t('.title') %>
<% end %>

<div class="span12">
    <h2 class="form_title"><%= t('.title') %></h2>
    
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="control-group">
            <%= f.label :email, :class => "control-label" %>
            <%= f.email_field :email, :placeholder => 'Email' %>
        </div>

        <div class="control-group">
            <%= f.label t('devise.common.password'), :class => "control-label" %>
            <%= f.password_field :password, :placeholder => t('devise.common.password') %>
        </div>

        <div><%= f.submit t('devise.actions.sign_up'), :class => 'btn' %></div>
    <% end %>
</div>
