<%= form_for([:admin, @healthcat], :html => {:class => "form-horizontal"}) do |f| %>
    <div class="control-group">
        <%= f.label :name, :class => "control-label" %>
        <div class="controls">
            <%= f.text_field :name, :autofocus => true, :class => "full_width" %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :description, :class => "control-label" %>
        <div class="controls">
            <%= f.text_area :description, :rows => 4, :class => "full_width" %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :parent_healthcat_id, :class => "control-label" %>
        <div class="controls">
            <% if params[:parent] %>
                <%= f.collection_select :parent_healthcat_id, Healthcat.may_be_a_parent, :id, :name, :include_blank => true, :selected => params[:parent] %>
            <% else %>
                <%= f.collection_select :parent_healthcat_id, Healthcat.may_be_a_parent, :id, :name, :include_blank => true %>
            <% end %>
        </div>
    </div>
    <div class="control-group gender">
        <%= f.label :gender, :class => "control-label" %>
        <div class="controls">
            <%= f.select :gender, Healthcat.genders, :include_blank => true %>
        </div>
    </div>
    <div class="control-group">
        <%= f.label :bodyparts, :class => "control-label" %>
        <div class="controls">
            <%= f.text_field :bodypart_names %>
            <div class="parts"></div>
            <div class="dropdown add_by_click">
                <a class="dropdown-toggle" data-toggle="dropdown" id="add_parts" href="#"><%= t('shared.actions.add.simple') %></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="add_parts">
                    <% Bodypart.all.each do |part| %>
                        <li class="enable"><%= part.name %></li>
                    <% end %>
                    <li class="nothing_to_add"><%= t('shared.messages.nothing_to_add') %></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <%= f.submit t('shared.actions.save'), {:class => "submit_button btn"} %>
            <%= submit_tag t('shared.actions.cancel'), {:name => 'cancel_button', :class => "submit_button btn"} %>
        </div>
    </div>
<% end %>
