<% content_for :title do %>
    <%= t('.title') %>
<% end %>

<%= form_tag('categories/move', :method => :post) do %>
    <table width="100%" class="fixed">
        <tbody>
            <tr class="header">
                <td><h3><%= t('healthcats.shared.categories') %></h3></td>
                <td class="right">
                    <%= link_to t('shared.actions.add.with_icon_html'), new_admin_healthcat_path, :class => "btn btn-primary" %>
                    <%= submit_tag t('shared.actions.delete.simple'), :name => 'delete_button', :class => "btn" %>
                    <%= submit_tag t('shared.actions.move'), :name => 'move_button', :class => "btn" %>
                    <%= select_tag :parent_cat, options_from_collection_for_select(Healthcat.may_be_a_parent, :id, :name) + "<option value=''>#{t('shared.move_to_root')}</option>".html_safe, :include_blank => true %>
                </td>
            </tr>
        </tbody>
    </table>

    <table width="100%" class="table">
        <tbody>
            <% if @healthcats.blank? %>
                <tr>
                    <td colspan="4"><%= t('shared.no_info') %></td>
                </tr>
            <% else %>
                <tr>
                    <th width="20px"><%= check_box_tag 'check_all' %></th>
                    <th><%= t('shared.name') %></th>
                    <th width="110px"><%= t('shared.created_at') %></th>
                    <th width="20px"></th>
                </tr>
                <% @healthcats.each do |cat| %>
                    <tr>
                        <td><%= check_box_tag "cats[]", cat.id  %></td>
                        <td><%= link_to cat.name, edit_admin_healthcat_path(cat.id) %></td>
                        <td class="small"><%= l cat.created_at.to_time, :format => :short_date %></td>
                        <% if not cat.child_healthcats.blank? %>
                            <td class="display_subcats"><i class="icon-chevron-down pull-right"></i></td>
                        <% else %>
                            <td></td>
                        <% end %>
                    </tr>
                    <% if not cat.child_healthcats.blank? %>
                        <tr class="subcat">
                            <td colspan="4">
                                <div class="slide_panel">
                                    <table width="100%" class="table">
                                        <tbody>
                                            <% cat.child_healthcats.each do |child| %>
                                                <tr>
                                                    <td width="20px"><%= check_box_tag "cats[]", child.id  %></td>
                                                    <td class="child">&mdash;&nbsp;&nbsp;<%= link_to child.name, edit_admin_healthcat_path(child.id) %></td>
                                                    <td width="110px" class="small"><%= l child.created_at.to_time, :format => :short_date %></td>
                                                    <td width="20px"></td>
                                                </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    <% end %>
                <% end %>
            <% end %>
        </tbody>
    </table>
<% end %>
<div class="pagination-centered">
    <%= paginate @healthcats %>
</div>
