<% content_for :title do %>
    <%= @article.name %>
<% end %>

<%= render "shared/breadcrumbs/breadcrumbs_article" %>


<h1><%= @article.name %></h1>
<div><%= raw @article.introduction if not @article.introduction.blank? %></div>
<div><%= raw @article.body if not @article.body.blank? %></div>
