<ul>
    <% if user_signed_in? %>
        <li><%= link_to t('devise.actions.logout'), destroy_user_session_path, :method => :get %></li>
        <li><%= link_to t('devise.actions.edit_account'), edit_user_registration_path %></li>
        <% if current_user.try(:admin?) %>
            <li><%= link_to t('devise.actions.admin_panel') %></li>
        <% end %>
    <% else %>
        <li><%= link_to t('devise.actions.login'), new_user_session_path %></li>
        <li><%= link_to t('devise.actions.sign_up'), new_user_registration_path %></li>
    <% end %>
</ul>
