<% content_for :title do %>
    <%= t('.title') %>
<% end %>

<div class="span12">
    <h2 class="form_title"><%= t('.title') %></h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="control-group">  
            <%= f.label :email, :class => "control-label" %>
            <div class="controls">
                <%= f.email_field :email, :placeholder => 'Email', :autofocus => true %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label t('devise.common.password'), :class => "control-label" %>
            <div class="controls">
                <%= f.password_field :password, :placeholder => t('devise.common.password') %><br>
                <small><%= render "devise/shared/links" %></small>
            </div>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <%= f.check_box :remember_me %> <%= t('devise.actions.remember_me') %>
                    </label>
                </div>
            </div>
        <% end -%>

        <div class="control-group">
            <div class="controls">
                <%= f.submit t('devise.actions.login'), :class => "btn" %>
            </div>
        </div>
    <% end %>
</div>
