<%= form_for @healthcat do |f| %>
    <div class="field">
        <%= f.label t('shared.healthcat.name') %>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label t('shared.healthcat.description') %>
        <%= f.text_field :description %>
    </div>
    <div class="field">
        <%= f.label t('shared.healthcat.parent_healthcat_id') %>
        <%= f.collection_select :parent_healthcat_id, Healthcat.may_be_a_parent, :id, :name, :include_blank => true %>
    </div>
    <div class="action">
        <%= f.submit t('form.actions.save'), {:class => "submit_button"} %>
        <%= submit_tag t('form.actions.cancel'), {:name => 'cancel_button', :class => "submit_button"} %>
    </div>
<% end %>
