<% if not @healthcat.description.blank? %>
    <div class="show_group">
        <div><%= @healthcat.description %></div>
    </div>
<% end %>
<% if not @healthcat.parent_healthcat_id.blank? %>
    <div class="show_group">
        <h5><%= t('shared.healthcat.parent_healthcat_id') %></h5> 
        <ul>
            <li><%= link_to @healthcat.parent_healthcat.name, @healthcat.parent_healthcat %></li>
        </ul>
    </div>
<% end %>
<% if not @child_healthcats.blank? %>
    <div class="show_group">
        <h5><%= t('shared.healthcat.childrens_list') %></h5>
        <ul class="subcats">
            <% @child_healthcats.each do |child| %>
                <li><%= link_to child.name, child %></li>
            <% end %>
        </ul>
    </div>
<% end %>
