<% if not @healthcat.description.blank? %>
    <div class="show_group">
        <div><%= @healthcat.description %></div>
    </div>
<% end %>
<% if not @healthcat.articles.blank? %>
    <ul class="unstyled">
        <% @healthcat.articles.each do |article| %>
            <li><%= link_to article.name, article_path(article.id) %></li>
        <% end %>
    </ul>
<% end %>
<% if not @child_healthcats.blank? %>
    <div class="show_group">
        <h5><%= t('healthcats.shared.childrens_list') %></h5>
        <ul class="subcats">
            <% @child_healthcats.each do |child| %>
                <li><%= link_to child.name, show_path( @healthcat.id, @healthcat.translated_name, child.id, child.translated_name) %></li>
            <% end %>
            <% if can? :create, :healthcat %>
                <li><%= link_to t('healthcats.shared.add_new'), { :controller => "healthcats", :action => "new", :parent => @healthcat.id } %></li>
            <% end %>
        </ul>
    </div>
<% else%>
    <% if can? :create, :healthcat %>
        <% if @healthcat.parent_healthcat.blank? %>
            <ul class="subcats">
                <li><%= link_to t('healthcats.shared.add_new'), { :controller => "healthcats", :action => "new", :parent => @healthcat.id } %></li>
            </ul>
        <% end %>
    <% end %>
<% end %>
