<% if not @healthcat.description.blank? %>
    <div class="show_group">
        <div><%= @healthcat.description %></div>
    </div>
<% end %>
<ul class="unstyled">
    <% if not @articles.blank? %>
        <% @articles.each do |article| %>
            <li><%= link_to article.name, :controller => "articles", :action => "show", :id => article %></li>
        <% end %>
    <% end %>
    <% if can? :create, :article %>
        <li class="add_new"><%= link_to t('articles.shared.add_new'), { :controller => "articles", :action => "new", :categorizable_type => "healthcat", :categorizable_id => @healthcat.id } if not @healthcat.parent.blank? %></li>
    <% end %>
</ul>
<% if not @children.blank? %>
    <div class="show_group">
        <h5><%= t('healthcats.shared.childrens_list') %></h5>
        <ul class="subcats">
            <% @children.each do |child| %>
                <li><%= link_to child.name,  [@healthcat, child ] %></li>
            <% end %>
            <% if can? :create, :healthcat %>
                <li class="add_new"><%= link_to t('healthcats.shared.add_new'), { :controller => "healthcats", :action => "new", :parent => @healthcat.id } %></li>
            <% end %>
        </ul>
    </div>
<% else%>
    <% if can? :create, :healthcat %>
        <% if @healthcat.parent.blank? %>
            <ul class="subcats">
                <li><%= link_to t('healthcats.shared.add_new'), { :controller => "healthcats", :action => "new", :parent => @healthcat.id } %></li>
            </ul>
        <% end %>
    <% end %>
<% end %>
