<% if not @healthcat.description.blank? %>
    <div class="show_group">
        <div><%= @healthcat.description %></div>
    </div>
<% end %>
<ul class="unstyled">
    <% if not @articles.blank? %>
        <% @articles.each do |article| %>
            <li><%= link_to article.name, article %></li>
        <% end %>
    <% end %>
    <li><%= link_to "New Article", new_healthcat_healthcat_article_path %></li>
</ul>
<% if not @children.blank? %>
    <div class="show_group">
        <h5><%= t('healthcats.shared.childrens_list') %></h5>
        <ul class="subcats">
            <% @children.each do |child| %>
                <li><%= link_to child.name, [@healthcat, child] %></li>
            <% end %>
            <% if can? :create, :healthcat %>
                <li><%= link_to t('healthcats.shared.add_new'), { :controller => "healthcats", :action => "new", :parent => @healthcat.id } %></li>
            <% end %>
        </ul>
    </div>
<% else%>
    <% if can? :create, :healthcat %>
        <% if @healthcat.parent.blank? %>
            <ul class="subcats">
                <li><%= link_to t('healthcats.shared.add_new'), { :controller => "healthcats", :action => "new", :parent => @healthcat.id } %></li>
            </ul>
        <% end %>
    <% end %>
<% end %>
